.infoContainer {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 100%;

}
.partDetails {
  background-color: #43465f;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.none {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.info{
  background-color: #474E68;
  color: white;
  display: flex;
  padding: 20px 5%;
  font-family: 'Fixel';
  flex-wrap: wrap;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.info_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 100%;
}
.panel {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notes {
  height: auto;
  border-radius: 10px;
  background-color: #404258;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  font-family: Fixel;
  padding: 5px;
  width: 600px;
}
.control_buttons{
  display: flex;
  gap: 10px;
}
.control_buttons button{
  font-size: 16px;
  font-family: 'Fixel';
  font-weight: bold;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.control_buttons button.red {
  border: 2px solid rgb(255, 43, 43);
}
.control_buttons button.green {
  border: 2px solid rgb(43, 255, 110);
}
.btnIcon {
  height: 16px;
  width: 16px;
}

.control_buttons .active {
  background-color: aliceblue;
  color: #50577A;
}
.partDetails {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-scrollbar {
  background-color: #323445;
  border-radius: 5px;
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #ffffff00;
  border-color: #ffffff00;
  background-color: #393A4E;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  border-color: rgba(255, 255, 255, 0.498);
}
.history {
  background-color: #404258;
  border-radius: 10px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.history .item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px;

  background-color: #474E68;
  width: 100%;
  min-height: 60px;
  transition: 0.3s ease-in-out;
}
.item:hover {
  background-color: #5d6585;
}
.info_list .info_line{
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color:#50577A;
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;

  padding: 5px;
  gap: 5px;
}
.info_line input.active {
  /* outline-color:white; */
  /* outline: auto; */
  /* outline-width: 1px; */
  outline: rgba(255, 255, 255, 0.511) 2px solid;
}

.info_list h3{
  min-width: 140px;
  font-family: 'Fixel';
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #404258;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.info_list input{
  cursor: pointer;
  margin: 0;
  font-family: 'Fixel';
  background: transparent;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: #404258;
  padding: 0 10px;
  border-radius: 5px;
}