.info_list .info_line{
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color:#50577A;
  margin-top: 20px;
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
}

.info_list h3{
  box-sizing: border-box;
  height: 100%;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fixel';
  margin: 0;
  padding: 0;
  background-color: #404258;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.info_list .btn {
  cursor: pointer;
  margin: 0;
  font-family: 'Fixel';
  background: transparent;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  background-color: #404258;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: color 0.6s ease-in-out;
}
.info_list .btn:hover {
  color: greenyellow;
}

.modal_btn {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-left: 5px;
  right: 10px;
  top: 50%;
  background-color: #404258;
  transform: translateY(-50%);
}
.info_line .modal_btn .item {
  height: 20px;
  animation: none;
  background-color: transparent !important;
}
.info_line .modal_btn .item.none {
  display: none;
}
.info_line .modal_btn .item.animate {
  animation: fadeIn 0.7s ease-out; 
}
.modal_btn.second {
  right: 35px;  
}
.modal_btn.third {
  right: 55px;  
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}