.header{
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	height: 60px;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #404258;
}

.change_buttons{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #50577A;
	border-radius: 10px;
	height: 40px;
}

.change_buttons button{
	cursor: pointer;
	padding: 20px;
	background-color: #50577A;
	color: white;
	border-radius: 10px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
}

.search_line{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	width: 500px;
	background-color: #50577A;
	border-radius: 10px;
}

.header input {
	width: 100%;
	background-color: #50577A;
	border: none;
	outline: none;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.btn_wrapper {
	background-color: #50577A;
}
.header .add_button{
	cursor: pointer;
	background-color: #50577A;
	color: white;
	padding: 0px 50px;
	/* height: 30px; */
	height: 40px;
	border-radius: 10px;
	border: none;
}

.tabBtn.active {
	background-color: whitesmoke;
	animation: rotation 0.7s ease-in-out; 
}
.btnIcon.huge {
	height: 32px;
	width: 32px;
}

.btnLogin {
	cursor: pointer;
	background-color: #50577A;
	height: 40px;
	border-radius: 10px;
	border: none;
	color: white;
	font-family: 'Fixel';
	font-size: 22px;
	padding: 0px 20px;
}
.header .name {
	font-size: 26px;
	font-family: 'Fixel';
	font-weight: 600;
	color: white;
}
@keyframes rotation {
	0% {
		transform: rotateZ(0deg);
	}
	33% {
		transform: rotateZ(-10deg);
	}
	66% {
		transform: rotateZ(10deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}