.account{
    font-family: 'Fixel';
    color: white;
    overflow: hidden;
    background-color: #50577A;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.computer {
    /* padding-left: 10px; */
}
.invNumber {
    color: #8892b6;
}
.person {
    color: #8892b6;
}
.computer_name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.account button{
    background-color: #50577A;
    color: white;
    width: 5%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.info{
    background-color: #474E68;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    font-family: 'Fixel';
    border-radius: 10px;
}
.info_list{
}

.info ul{
    width: 45%;
    list-style-type: none;
    margin: 0;
    padding:0;
}

.info_list li{
    overflow: hidden;
    background-color:#50577A;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
}

.info_list h3{
    font-family: 'Fixel';
    margin: 0;
    padding: 0;
    text-align: center;
    width: 20%;
    background-color: #404258;
}

.info_list p{
    margin: 0;
    padding: 0;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-family: 'Fixel';
}
