* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: #404258;
}
.font {
  font-family: 'Fixel';
  color: white;
  font-size: 16px;
}
.icon {
  /* height: 1em; */
  /* height: 20px; */
}
